In [2]:
import pandas as pd
import numpy as np
from functools import reduce

## Dropping unnecessary columns

In [3]:
df = pd.read_csv('Datasets\BL-Flickr-Images-Book.csv')
df.head(n=4)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.

In [4]:
df.tail(n=4)

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
8283,4158128,NaN,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby","NOBLE, Thomas.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8284,4159563,NaN,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...","GREGSON, Matthew.|LYSONS, Samuel - F.R.S",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 19...
8285,4159587,NaN,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)","ROSS, M. - of Durham",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 10...
8286,4160339,NaN,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,"BANDINEL, Bulkeley.|Nichols, John Gough",NaN,NaN,NaN,NaN,continuing,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS|British Library HMNTS 79...

In [4]:
to_drop = ['Edition Statement',
           'Corporate Author',
           'Corporate Contributors',
           'Former owner',
           'Engraver',
           'Contributors',
           'Issuance type',
           'Shelfmarks']

In [6]:
df.drop(to_drop, inplace = False, axis = 1)

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

In [1]:
df

NameError: name 'df' is not defined

In [5]:
df.drop(to_drop, inplace = True, axis = 1)
df.head()

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [6]:
df

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
8282,4158088,London,1838,NaN,"The Parochial History of Cornwall, founded on,...","GIDDY, afterwards GILBERT, Davies.",http://www.flickr.com/photos/britishlibrary/ta...
8283,4158128,Derby,"1831, 32",M. Mozley & Son,The History and Gazetteer of the County of Der...,"GLOVER, Stephen - of Derby",http://www.flickr.com/photos/britishlibrary/ta...
8284,4159563,London,[1806]-22,T. Cadell and W. Davies,Magna Britannia; being a concise topographical...,"LYSONS, Daniel - M.A., F.R.S., and LYSONS (Sam...",http://www.flickr.com/photos/britishlibrary/ta...
8285,4159587,Newcastle upon Tyne,1834,Mackenzie & Dent,"An historical, topographical and descriptive v...","Mackenzie, E. (Eneas)",http://www.flickr.com/photos/britishlibrary/ta...
8286,4160339,London,1834-43,NaN,Collectanea Topographica et Genealogica. [Firs...,NaN,http://www.flickr.com/photos/britishlibrary/ta...

## Setting the index of the dataset

In [7]:
df.set_index('Identifier', inplace = True)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [8]:
df['Date of Publication'].head(25)

Identifier
206            1879 [1878]
216                   1868
218                   1869
472                   1851
480                   1857
481                   1875
519                   1872
667                    NaN
874                   1676
1143                  1679
1280                  1802
1808                  1859
1905                  1888
1929           1839, 38-54
2836                  1897
2854                  1865
2956               1860-63
2957                  1873
3017                  1866
3131                  1899
4598                  1814
4884                  1820
4976                  1800
5382    1847, 48 [1846-48]
5385               [1897?]
Name: Date of Publication, dtype: object

## Cleaning columns using the `.apply` function

In [9]:
unwanted_characters = ['[', ',', '-']

In [10]:
from pandas import DataFrame

In [13]:
def clean_dates(item: DataFrame) -> str:
    dop = str(item.loc['Date of Publication'])
    
    if dop == 'nan' or dop[0] == '[':
        return np.nan
    
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    
    return dop

In [14]:
df['Date of Publication'] = df.apply(clean_dates, axis = 1)

In [15]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [16]:
#alternate way of cleaning Date of Publication
#run cell to see output
unwanted_characters = ['[', ',', '-']

def clean_dates(dop):
    dop = str(dop)
    if dop.startswith('[') or dop == 'nan':
        return 'NaN'
    for character in unwanted_characters:
        if character in dop:
            character_index = dop.find(character)
            dop = dop[:character_index]
    return dop

df['Date of Publication'] = df['Date of Publication'].apply(clean_dates)
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

In [25]:
author = "A."

In [26]:
name = filter(lambda x: x.isalpha(), author)

In [23]:
name

In [27]:
reduce(lambda x, y: x + y, name)

'A'

In [30]:
def clean_author_names(author):
    
    author = str(author)
    
    if author == 'nan':
        return 'NaN'
    
    author = author.split(',')

    if len(author) == 1:
        name = filter(lambda x: x.isalpha(), author[0])
        return reduce(lambda x, y: x + y, name)
    
    last_name, first_name = author[0], author[1]

    first_name = first_name[:first_name.find('-')] if '-' in first_name else first_name
    
    if first_name.endswith(('.', '.|')):
        parts = first_name.split('.')
        
        if len(parts) > 1:
            first_occurence = first_name.find('.')
            final_occurence = first_name.find('.', first_occurence + 1)
            first_name = first_name[:final_occurence]
        else:
            first_name = first_name[:first_name.find('.')]
    
    last_name = last_name.capitalize()
    
    return f'{first_name} {last_name}'


df['Author'] = df['Author'].apply(clean_author_names)

In [31]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...

In [ ]:
def clean_title(title):
    
    if title == 'nan':
        return 'NaN'
    
    if title[0] == '[':
        title = title[1: title.find(']')]
        
    if 'by' in title:
        title = title[:title.find('by')]
    elif 'By' in title:
        title = title[:title.find('By')]
        
    if '[' in title:
        title = title[:title.find('[')]

    title = title[:-2]
        
    title = list(map(str.capitalize, title.split()))
    return ' '.join(title)
    
df['Title'] = df['Title'].apply(clean_title)
df.head()

## Using `.str` methods to clean columns

In [32]:
#4157862 and 4159587
df.loc[4159587]

Place of Publication                                  Newcastle upon Tyne
Date of Publication                                                  1834
Publisher                                                Mackenzie & Dent
Title                   An historical, topographical and descriptive v...
Author                                               E. (Eneas) Mackenzie
Flickr URL              http://www.flickr.com/photos/britishlibrary/ta...
Name: 4159587, dtype: object

In [33]:
pub = df['Place of Publication']
df['Place of Publication'] = np.where(pub.str.contains('London'), 'London',
    np.where(pub.str.contains('Oxford'), 'Oxford',
        np.where(pub.eq('Newcastle upon Tyne'),
            'Newcastle-upon-Tyne', df['Place of Publication'])))

In [34]:
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,AA,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,A. A A.,http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...",E. S A.,http://www.flickr.com/photos/britishlibrary/ta...

## Cleaning entire dataset

In [35]:
!more Datasets\\university_towns.txt

Alabama[edit]
Auburn (Auburn University)[1]
Florence (University of North Alabama)
Jacksonville (Jacksonville State University)[2]
Livingston (University of West Alabama)[2]
Montevallo (University of Montevallo)[2]
Troy (Troy University)[2]
Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]
Tuskegee (Tuskegee University)[5]
Alaska[edit]
Fairbanks (University of Alaska Fairbanks)[2]
Arizona[edit]
Flagstaff (Northern Arizona University)[6]
Tempe (Arizona State University)
Tucson (University of Arizona)
Arkansas[edit]
Arkadelphia (Henderson State University, Ouachita Baptist University)[2]
Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]
Fayetteville (University of Arkansas)[7]
Jonesboro (Arkansas State University)[8]
Magnolia (Southern Arkansas University)[2]
Monticello (University of Arkansas at Monticello)[2]
Russellville (Arkansas Tech University)[2]
Searcy (Harding University)[5]
California[edit]
Angwin (Pacific Union College)[2]
Arcata (Humboldt State University)[5]
Berkeley (University of California, Berkeley)[5]
Chico (California State University, Chico)[2]
Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]
Cotati (California State University, Sonoma)[2]
Davis (University of California, Davis)[1]
Irvine (University of California, Irvine)
Isla Vista (University of California, Santa Barbara)[2]
University Park, Los Angeles (University of Southern California)
Merced (University of California, Merced)
Orange (Chapman University)
Palo Alto (Stanford University)
Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College
Redlands (University of Redlands)
Riverside (University of California, Riverside, California Baptist University, La Sierra University)
Sacramento (California State University, Sacramento)
University District, San Bernardino (California State University, San Bernardino, American Sports University)
San Diego (University of California, San Diego, San Diego State University)
San Luis Obispo (California Polytechnic State University)[2]
Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]
Santa Cruz (University of California, Santa Cruz)[2]
Turlock (California State University, Stanislaus)
Westwood, Los Angeles (University of California, Los Angeles)[2]
Whittier (Whittier CollegeRio Hondo College)
Colorado[edit]
Alamosa (Adams State College)[2]
Boulder (University of Colorado at Boulder)[12]
Durango (Fort Lewis College)[2]
Fort Collins (Colorado State University)[13]
Golden (Colorado School of Mines)
Grand Junction (Colorado Mesa University)
Greeley (University of Northern Colorado)
Gunnison (Western State College)[2]
Pueblo, Colorado (Colorado State University-Pueblo)
Connecticut[edit]
Fairfield (Fairfield University, Sacred Heart University)
Middletown (Wesleyan University)
New Britain (Central Connecticut State University)
New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]
New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]
Storrs (University of Connecticut)[2]
Willimantic (Eastern Connecticut State University)[2]
Delaware[edit]
Dover (Delaware State University)[1]
Newark (University of Delaware)[1]
Florida[edit]
Ave Maria (Ave Maria University)
Boca Raton (Florida Atlantic University)
Coral Gables (University of Miami)
DeLand (Stetson University)[5]
Estero (Florida Gulf Coast University)
Gainesville (University of Florida, Santa Fe College)
Orlando (University of Central Florida)
Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)
St. Augustine (Flagler College)
St. Leo (St. Leo University)
Tallahassee (Florida State University, Florida A&M University)
Tampa (University of South Florida)
Georgia[edit]
Albany (Albany State University)
Athens (University of Georgia)[15]
Atlanta (Georgia State University, Georgia Tech, Emory)[2]
Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]
Demorest (Piedmont College)[2]
Fort Valley (Fort Valley State University)[2]
Kennesaw (Kennesaw State University)
Milledgeville (Georgia College & State University)[2]
Mount Vernon (Brewton-Parker College)[2]
Oxford (Oxford College)
Rome (Berry College, Shorter University)
Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)
Statesboro (Georgia Southern University)[5]
Valdosta (Valdosta State University)[2]
Waleska (Reinhardt College)[2]
Young Harris (Young Harris College)[2]
Hawaii[edit]
Manoa (University of Hawaii at Manoa)[2]
Idaho[edit]
Moscow (University of Idaho)[2]
Pocatello (Idaho State University)[2]
Rexburg (BYU-Idaho)[2]
Illinois[edit]
Carbondale (Southern Illinois University Carbondale)[5]
Champaign–Urbana (University of Illinois at Urbana–Champaign)[5]
Charleston (Eastern Illinois University)[2]
DeKalb (Northern Illinois University)[2]
Edwardsville (Southern Illinois University Edwardsville)[2]
Evanston (Northwestern University)[2]
Lebanon (McKendree University)[2]
Macomb (Western Illinois University)[2]
Normal (Illinois State University)[2]
Peoria (Bradley University)
Indiana[edit]
Bloomington (Indiana University Bloomington)[5]
Crawfordsville (Wabash College)
Greencastle (DePauw University)[5]
Hanover (Hanover College)[2]
Marion (Indiana Wesleyan University)[2]
Muncie (Ball State University)[2]
Oakland City (Oakland City University)[2]
Richmond (Earlham College)[2]
South Bend (Notre Dame University[2])
Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]
Upland (Taylor University)[2]
Valparaiso (Valparaiso University)
West Lafayette (Purdue University)[2]
Iowa[edit]
Ames (Iowa State University)[2]
Cedar Falls (University of Northern Iowa)[2]
Cedar Rapids, Iowa (Coe College )
Decorah (Luther College)[5]
Fayette (Upper Iowa University)[2]
Grinnell (Grinnell College)[15]
Iowa City (University of Iowa)[15]
Lamoni (Graceland University)[2]
Mount Vernon, (Cornell College)
Orange City (Northwestern College)[2]
Sioux Center (Dordt College)[2]
Storm Lake (Buena Vista University)[2]
Waverly (Wartburg College)[2]
Kansas[edit]
Baldwin City (Baker University)[5]
Emporia (Emporia State University)[2]
Hays (Fort Hays State University)[2]
Lawrence (University of Kansas, Haskell Indian Nations University)[15]
Manhattan (Kansas State University, Manhattan Christian College)[15]
Pittsburg (Pittsburg State University)[2]
Kentucky[edit]
Bowling Green (Western Kentucky University)[2]
Columbia (Lindsey Wilson College)[2]
Georgetown (Georgetown College)
Highland Heights (Northern Kentucky University)
Lexington (University of Kentucky, Transylvania University[5]
Louisville (University of Louisville)
Morehead (Morehead State University)[2]
Murray (Murray State University)[5]
Richmond (Eastern Kentucky University)[2]
Williamsburg (University of the Cumberlands)[2]
Wilmore (Asbury University, Asbury Theological Seminary)[2]
Louisiana[edit]
Baton Rouge (Louisiana State University, Southern University)
Grambling (Grambling State University)[5]
Hammond (Southeastern Louisiana University)[2]
Lafayette (University of Louisiana at Lafayette)
Monroe (University of Louisiana at Monroe)[2]
Natchitoches (Northwestern State University)[2]
Ruston (Louisiana Tech University)[2]
Thibodaux (Nicholls State University)[2]
Maine[edit]
Augusta (University of Maine at Augusta)[2]
Bar Harbor (College of the Atlantic)
Brunswick (Bowdoin College)
Farmington (University of Maine at Farmington)[2]
Fort Kent (University of Maine at Fort Kent)
Gorham (University of Southern Maine)[2]
Lewiston, Maine (Bates College)
Orono (University of Maine)[2]
Waterville (Thomas College, Colby College)
Maryland[edit]
Annapolis (United States Naval Academy, St. John's College)
Chestertown (Washington College)[2]
College Park (University of Maryland, College Park)[16]
Cumberland (Allegany College of Maryland)
Emmitsburg (Mount St. Mary's University)[2]
Frostburg (Frostburg State University)[5]
Princess Anne (University of Maryland Eastern Shore)[5]
Towson (Towson University, Goucher College)[2]
Salisbury (Salisbury University)[2]
Westminster (McDaniel College)
Massachusetts[edit]
Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)
Bridgewater (Bridgewater State College)[2]
Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]
Chestnut Hill (Boston College)
The Colleges of Worcester Consortium:
Dudley (Nichols College)
North Grafton (Cummings School of Veterinary Medicine at Tufts University)
Paxton (Anna Maria College)
Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)
The Five College Region of Western Massachusetts:
Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]
Northampton (Smith College)
South Hadley (Mount Holyoke College)
Fitchburg (Fitchburg State College)
North Adams (Massachusetts College of Liberal Arts)
Springfield (American International College), (Springfield College), and (Western New England College)
Waltham (Bentley University), (Brandeis University)
Williamstown (Williams College)
Framingham (Framingham State University)
Michigan[edit]
Adrian (Adrian College, Siena Heights University)
Albion (Albion College)[17]
Allendale (Grand Valley State University)
Alma (Alma College)
Ann Arbor (University of Michigan)[1]
Berrien Springs (Andrews University)[2]
Big Rapids (Ferris State University)[2]
East Lansing (Michigan State University)[2]
Flint (Kettering University, University of Michigan-Flint)
Hillsdale (Hillsdale College)
Houghton (Michigan Technological University)[5]
Kalamazoo (Western Michigan University, Kalamazoo College)[2]
Marquette (Northern Michigan University)[2]
Midland (Northwood University)
Mount Pleasant (Central Michigan University)[2]
Olivet (Olivet College)[2]
Saginaw (Saginaw Valley State University)
Sault Ste. Marie (Lake Superior State University)
Spring Arbor (Spring Arbor University)[2]
Ypsilanti (Eastern Michigan University)[2]
Minnesota[edit]
Bemidji (Bemidji State University)[2]
Crookston (University of Minnesota Crookston)[2]
Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsin–Superior, Duluth Business University
Faribault, South Central College
Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College
Marshall (Southwest Minnesota State University)[2]
Moorhead (Minnesota State University, Moorhead, Concordia College)[18]
Morris (University of Minnesota Morris)[2]
Northfield (Carleton College, St. Olaf College)[5]
North Mankato, South Central College
St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]
St. Joseph (College of Saint Benedict)[2]
St. Peter (Gustavus Adolphus College)[2]
Winona (Winona State University, St. Mary's University of Minnesota)[19]
Mississippi[edit]
Cleveland (Delta State University)[2]
Hattiesburg (University of Southern Mississippi)[20]
Itta Bena (Mississippi Valley State University)[2]
Oxford (University of Mississippi)[2]
Starkville (Mississippi State University)[2]
Missouri[edit]
Bolivar (Southwest Baptist University)[2]
Cape Girardeau (Southeast Missouri State University)[2]
Columbia (University of Missouri, Stephens College, Columbia College)[20]
Fayette (Central Methodist University)[2]
Fulton (Westminster College and William Woods University).
Kirksville (Truman State University, A. T. Still University)[2]
Maryville (Northwest Missouri State University)[2]
Rolla (Missouri University of Science and Technology)[2]
Warrensburg (University of Central Missouri)[5]
Montana[edit]
Bozeman (Montana State University)[2]
Dillon (University of Montana Western)[2]
Missoula (University of Montana)[5]
Nebraska[edit]
Chadron (Chadron State College)[5]
Crete (Doane College)[2]
Kearney (University of Nebraska at Kearney)[2]
Lincoln (University of Nebraska at Lincoln)[5]
Peru (Peru State College)[2]
Seward (Concordia University)[2]
Wayne (Wayne State College)[2]
Nevada[edit]
Las Vegas (University of Nevada, Las Vegas)
Reno (University of Nevada, Reno)
New Hampshire[edit]
New London, New Hampshire (Colby-Sawyer College)
Durham (University of New Hampshire)[2]
Hanover (Dartmouth College)[5]
Henniker (New England College)
Keene (Keene State College)[2]
Plymouth (Plymouth State University)[2]
Rindge (Franklin Pierce University)
New Jersey[edit]
Ewing (The College of New Jersey), (Rider University)
Jersey City (New Jersey City University), (Saint Peter's University)
Glassboro (Rowan University)[2]
Hoboken (Stevens Institute of Technology)
Madison (Drew University), (Fairleigh Dickinson University), (College of Saint Elizabeth)
Newark (Rutgers University), (New Jersey Institute of Technology), (UMDNJ)
New Brunswick (Rutgers University)[5]
Princeton (Princeton University)[5]
Union (Kean University)
West Long Branch (Monmouth University)
New Mexico[edit]
Hobbs (University of the Southwest)[2]
Las Cruces (New Mexico State University)[2]
Las Vegas (New Mexico Highlands University)[2]
Portales (Eastern New Mexico University)[2]
Silver City (Western New Mexico University)[2]
New York[edit]
Alfred (Alfred University, Alfred State College)[2]
Albany (SUNY Albany, Siena College, Albany College of Pharmacy, Albany Law School, Albany Medical College, College of Saint Rose, Excelsior College, Maria College of Albany, Mildred Elley, Sage College of Albany)
Aurora (Wells College)[21]
Binghamton (Binghamton University)[2]
Brockport (SUNY Brockport)[5]
Buffalo (University at Buffalo)
Canton (St. Lawrence University, SUNY Canton)[2]
Clinton (Hamilton College)[2]
Cobleskill (SUNY Cobleskill)[2]
Delhi (SUNY Delhi)[2]
Fredonia (SUNY Fredonia)[2]
Geneseo (SUNY Geneseo)[2]
Geneva (Hobart and William Smith Colleges)
Hamilton (Colgate University)[2]
Ithaca (Cornell University, Ithaca College)[1]
Morningside Heights, Manhattan (Columbia University, Barnard College, Teachers College, Manhattan School of Music, Jewish Theological Seminary, Union Theological Seminary, Bank Street College of Education)
New Paltz (SUNY New Paltz)[2]
Oneonta (SUNY Oneonta, Hartwick College)[2]
Oswego (SUNY Oswego)[2]
Plattsburgh (SUNY Plattsburgh)[2]
Potsdam (SUNY Potsdam, Clarkson University)[2]
Poughkeepsie (Vassar College, Marist College)[2]
Purchase (Purchase College, Manhattanville College)[2]
Rochester (University of Rochester, Rochester Institute of Technology, Nazareth College, St. John Fisher College, Monroe Community College, Roberts Wesleyan College, SUNY Brockport, SUNY Empire State College)[2]
Saratoga Springs (Skidmore College)[2]
Seneca Falls (New York Chiropractic College)
Stony Brook (Stony Brook University)
Syracuse (Syracuse University, SUNY ESF, Upstate Medical University)
Tivoli (Bard College)
Troy (Rensselaer Polytechnic Institute, Russell Sage College, Hudson Valley Community College)
West Point (United States Military Academy)
North Carolina[edit]
Banner Elk (Lees-McRae College)
Boiling Springs (Gardner-Webb University)[2]
Boone (Appalachian State University)[2]
Buies Creek (Campbell University)[2]
Chapel Hill (University of North Carolina at Chapel Hill)[20]
Cullowhee (Western Carolina University)[2]
Davidson (Davidson College)[5]
Durham (Duke University, North Carolina Central University)[5]
Elon (Elon University)[2]
Greensboro (University of North Carolina at Greensboro, Greensboro College, Guilford College, North Carolina A & T State University, Bennett College)
Greenville (East Carolina University)[2]
Hickory (Lenoir-Rhyne University)[2]
Mars Hill (Mars Hill College)[2]
Mount Olive (Mount Olive College)[2]
Pembroke (University of North Carolina at Pembroke)[2]
Wilmington, North Carolina (University of North Carolina at Wilmington)
Wingate (Wingate University)[2]
Winston-Salem (Wake Forest University, University of North Carolina School of the Arts, Salem College, Winston-Salem State University)
North Dakota[edit]
Fargo (North Dakota State University)[18]
Grand Forks (University of North Dakota)[5]
Ohio[edit]
Ada (Ohio Northern University)[2]
Alliance (University of Mount Union)
Ashland (Ashland University)[2]
Athens (Ohio University)[2]
Berea (Baldwin Wallace College)
Bluffton (Bluffton University)[2]
Bowling Green (Bowling Green State University)[2]
Cedarville (Cedarville University)[2]
Columbus (Ohio State University)
Delaware (Ohio Wesleyan University)
Fairborn (Wright State University)
Findlay (University of Findlay)
Gambier (Kenyon College)[2]
Granville (Denison University)[2]
Hiram (Hiram College)[2]
Kent (Kent State University)[2]
Nelsonville (Hocking College)[2]
New Concord (Muskingum College)[2]
Oberlin (Oberlin College)[5]
Oxford (Miami University)[5]
Rio Grande (University of Rio Grande)[2]
Wilberforce (Wilberforce University, Central State University)[2]
Oklahoma[edit]
Ada (East Central University)[2]
Alva (Northwestern Oklahoma State University)[2]
Durant (Southeastern Oklahoma State University)[2]
Edmond (University of Central Oklahoma, Oklahoma Christian University)[2]
Goodwell (Oklahoma Panhandle State University)[2]
Langston (Langston University)[5]
Norman (University of Oklahoma)[1]
Stillwater (Oklahoma State University)[5]
Tahlequah (Northeastern State University)[2]
Tulsa (The University of Tulsa)
Weatherford (Southwestern Oklahoma State University)
Oregon[edit]
Ashland (Southern Oregon University)[2]
Corvallis (Oregon State University)[20]
Eugene (Lane Community College, Northwest Christian University, University of Oregon)[20]
Forest Grove (Pacific University)
Klamath Falls (Klamath Community College, Oregon Institute of Technology)
La Grande (Eastern Oregon University)[2]
Marylhurst (Marylhurst University)
McMinnville (Linfield College)
Monmouth (Western Oregon University)[2]
Newberg (George Fox University)
Pennsylvania[edit]
Altoona (Penn State Altoona)
Annville (Lebanon Valley College)[2]
Bethlehem (Lehigh University, Moravian College)
Bloomsburg (Bloomsburg University of Pennsylvania)[2]
Bradford (University of Pittsburgh at Bradford)
California (California University of Pennsylvania)[2]
Carlisle (Dickinson College)
Cecil B. Moore, Philadelphia, also known as "Templetown" (Temple University)
Clarion (Clarion University of Pennsylvania)[2]
Collegeville (Ursinus College)
Cresson (Mount Aloysius College)[2]
East Stroudsburg (East Stroudsburg University of Pennsylvania)[2]
Edinboro (Edinboro University of Pennsylvania)[2]
Erie (Gannon University, Mercyhurst College, Penn State Erie)
Gettysburg (Gettysburg College)[2]
Greensburg (Seton Hill University, University of Pittsburgh at Greensburg)
Grove City (Grove City College)[2]
Huntingdon (Juniata College)[2]
Indiana (Indiana University of Pennsylvania)[2]
Johnstown (University of Pittsburgh at Johnstown)
Kutztown (Kutztown University of Pennsylvania)[2]
Lancaster (Franklin & Marshall)
Lewisburg (Bucknell University)[5]
Lock Haven (Lock Haven University of Pennsylvania)[2]
Loretto (St. Francis University)[2]
Mansfield (Mansfield University of Pennsylvania)[2]
Meadville (Allegheny College)
Mont Alto (Penn State Mont Alto)
Millersville (Millersville University of Pennsylvania)[2]
New Wilmington (Westminster College)[2]
North East (Mercyhurst North East)

In [36]:
university_towns = []

with open('Datasets\\university_towns.txt', 'r') as file:
    items = file.readlines()
    states = list(filter(lambda x: '[edit]' in x, items))
    
    for index, state in enumerate(states):
        start = items.index(state) + 1
        if index == 49: #since 50 states
            end = len(items)
        else:
            end = items.index(states[index + 1])
            
        pairs = map(lambda x: [state, x], items[start:end])
        university_towns.extend(pairs)
        
university_towns

[['Alabama[edit]\n', 'Auburn (Auburn University)[1]\n'],
 ['Alabama[edit]\n', 'Florence (University of North Alabama)\n'],
 ['Alabama[edit]\n', 'Jacksonville (Jacksonville State University)[2]\n'],
 ['Alabama[edit]\n', 'Livingston (University of West Alabama)[2]\n'],
 ['Alabama[edit]\n', 'Montevallo (University of Montevallo)[2]\n'],
 ['Alabama[edit]\n', 'Troy (Troy University)[2]\n'],
 ['Alabama[edit]\n',
  'Tuscaloosa (University of Alabama, Stillman College, Shelton State)[3][4]\n'],
 ['Alabama[edit]\n', 'Tuskegee (Tuskegee University)[5]\n'],
 ['Alaska[edit]\n', 'Fairbanks (University of Alaska Fairbanks)[2]\n'],
 ['Arizona[edit]\n', 'Flagstaff (Northern Arizona University)[6]\n'],
 ['Arizona[edit]\n', 'Tempe (Arizona State University)\n'],
 ['Arizona[edit]\n', 'Tucson (University of Arizona)\n'],
 ['Arkansas[edit]\n',
  'Arkadelphia (Henderson State University, Ouachita Baptist University)[2]\n'],
 ['Arkansas[edit]\n',
  'Conway (Central Baptist College, Hendrix College, University of Central Arkansas)[2]\n'],
 ['Arkansas[edit]\n', 'Fayetteville (University of Arkansas)[7]\n'],
 ['Arkansas[edit]\n', 'Jonesboro (Arkansas State University)[8]\n'],
 ['Arkansas[edit]\n', 'Magnolia (Southern Arkansas University)[2]\n'],
 ['Arkansas[edit]\n',
  'Monticello (University of Arkansas at Monticello)[2]\n'],
 ['Arkansas[edit]\n', 'Russellville (Arkansas Tech University)[2]\n'],
 ['Arkansas[edit]\n', 'Searcy (Harding University)[5]\n'],
 ['California[edit]\n', 'Angwin (Pacific Union College)[2]\n'],
 ['California[edit]\n', 'Arcata (Humboldt State University)[5]\n'],
 ['California[edit]\n', 'Berkeley (University of California, Berkeley)[5]\n'],
 ['California[edit]\n', 'Chico (California State University, Chico)[2]\n'],
 ['California[edit]\n',
  'Claremont (Claremont McKenna College, Pomona College, Harvey Mudd College, Scripps College, Pitzer College, Keck Graduate Institute, Claremont Graduate University)[5]\n'],
 ['California[edit]\n', 'Cotati (California State University, Sonoma)[2]\n'],
 ['California[edit]\n', 'Davis (University of California, Davis)[1]\n'],
 ['California[edit]\n', 'Irvine (University of California, Irvine)\n'],
 ['California[edit]\n',
  'Isla Vista (University of California, Santa Barbara)[2]\n'],
 ['California[edit]\n',
  'University Park, Los Angeles (University of Southern California)\n'],
 ['California[edit]\n', 'Merced (University of California, Merced)\n'],
 ['California[edit]\n', 'Orange (Chapman University)\n'],
 ['California[edit]\n', 'Palo Alto (Stanford University)\n'],
 ['California[edit]\n',
  'Pomona (Cal Poly Pomona, WesternU)[9][10][11] and formerly Pomona College\n'],
 ['California[edit]\n', 'Redlands (University of Redlands)\n'],
 ['California[edit]\n',
  'Riverside (University of California, Riverside, California Baptist University, La Sierra University)\n'],
 ['California[edit]\n',
  'Sacramento (California State University, Sacramento)\n'],
 ['California[edit]\n',
  'University District, San Bernardino (California State University, San Bernardino, American Sports University)\n'],
 ['California[edit]\n',
  'San Diego (University of California, San Diego, San Diego State University)\n'],
 ['California[edit]\n',
  'San Luis Obispo (California Polytechnic State University)[2]\n'],
 ['California[edit]\n',
  'Santa Barbara (Fielding Graduate University, Santa Barbara City College, University of California, Santa Barbara, Westmont College)[2]\n'],
 ['California[edit]\n',
  'Santa Cruz (University of California, Santa Cruz)[2]\n'],
 ['California[edit]\n', 'Turlock (California State University, Stanislaus)\n'],
 ['California[edit]\n',
  'Westwood, Los Angeles (University of California, Los Angeles)[2]\n'],
 ['California[edit]\n', 'Whittier (Whittier CollegeRio Hondo College)\n'],
 ['Colorado[edit]\n', 'Alamosa (Adams State College)[2]\n'],
 ['Colorado[edit]\n', 'Boulder (University of Colorado at Boulder)[12]\n'],
 ['Colorado[edit]\n', 'Durango (Fort Lewis College)[2]\n'],
 ['Colorado[edit]\n', 'Fort Collins (Colorado State University)[13]\n'],
 ['Colorado[edit]\n', 'Golden (Colorado School of Mines)\n'],
 ['Colorado[edit]\n', 'Grand Junction (Colorado Mesa University)\n'],
 ['Colorado[edit]\n', 'Greeley (University of Northern Colorado)\n'],
 ['Colorado[edit]\n', 'Gunnison (Western State College)[2]\n'],
 ['Colorado[edit]\n', 'Pueblo, Colorado (Colorado State University-Pueblo)\n'],
 ['Connecticut[edit]\n',
  'Fairfield (Fairfield University, Sacred Heart University)\n'],
 ['Connecticut[edit]\n', 'Middletown (Wesleyan University)\n'],
 ['Connecticut[edit]\n',
  'New Britain (Central Connecticut State University)\n'],
 ['Connecticut[edit]\n',
  'New Haven (Yale University, University of New Haven, Southern Connecticut State University, Albertus Magnus College, Quinnipiac University)[14]\n'],
 ['Connecticut[edit]\n',
  'New London (Connecticut College, US Coast Guard Academy, Mitchell College)[2]\n'],
 ['Connecticut[edit]\n', 'Storrs (University of Connecticut)[2]\n'],
 ['Connecticut[edit]\n',
  'Willimantic (Eastern Connecticut State University)[2]\n'],
 ['Delaware[edit]\n', 'Dover (Delaware State University)[1]\n'],
 ['Delaware[edit]\n', 'Newark (University of Delaware)[1]\n'],
 ['Florida[edit]\n', 'Ave Maria (Ave Maria University)\n'],
 ['Florida[edit]\n', 'Boca Raton (Florida Atlantic University)\n'],
 ['Florida[edit]\n', 'Coral Gables (University of Miami)\n'],
 ['Florida[edit]\n', 'DeLand (Stetson University)[5]\n'],
 ['Florida[edit]\n', 'Estero (Florida Gulf Coast University)\n'],
 ['Florida[edit]\n',
  'Gainesville (University of Florida, Santa Fe College)\n'],
 ['Florida[edit]\n', 'Orlando (University of Central Florida)\n'],
 ['Florida[edit]\n',
  'Sarasota (New College of Florida, Ringling College of Art and Design, State College of Florida, Manatee-Sarasota, University of South Florida Sarasota-Manatee)\n'],
 ['Florida[edit]\n', 'St. Augustine (Flagler College)\n'],
 ['Florida[edit]\n', 'St. Leo (St. Leo University)\n'],
 ['Florida[edit]\n',
  'Tallahassee (Florida State University, Florida A&M University)\n'],
 ['Florida[edit]\n', 'Tampa (University of South Florida)\n'],
 ['Georgia[edit]\n', 'Albany (Albany State University)\n'],
 ['Georgia[edit]\n', 'Athens (University of Georgia)[15]\n'],
 ['Georgia[edit]\n',
  'Atlanta (Georgia State University, Georgia Tech, Emory)[2]\n'],
 ['Georgia[edit]\n',
  'Carrollton (University of West Georgia)[2]*Dahlonega (North Georgia College & State University)[2]\n'],
 ['Georgia[edit]\n', 'Demorest (Piedmont College)[2]\n'],
 ['Georgia[edit]\n', 'Fort Valley (Fort Valley State University)[2]\n'],
 ['Georgia[edit]\n', 'Kennesaw (Kennesaw State University)\n'],
 ['Georgia[edit]\n',
  'Milledgeville (Georgia College & State University)[2]\n'],
 ['Georgia[edit]\n', 'Mount Vernon (Brewton-Parker College)[2]\n'],
 ['Georgia[edit]\n', 'Oxford (Oxford College)\n'],
 ['Georgia[edit]\n', 'Rome (Berry College, Shorter University)\n'],
 ['Georgia[edit]\n',
  'Savannah (Armstrong Atlantic State University, Savannah State University, Savannah College of Art and Design)\n'],
 ['Georgia[edit]\n', 'Statesboro (Georgia Southern University)[5]\n'],
 ['Georgia[edit]\n', 'Valdosta (Valdosta State University)[2]\n'],
 ['Georgia[edit]\n', 'Waleska (Reinhardt College)[2]\n'],
 ['Georgia[edit]\n', 'Young Harris (Young Harris College)[2]\n'],
 ['Hawaii[edit]\n', 'Manoa (University of Hawaii at Manoa)[2]\n'],
 ['Idaho[edit]\n', 'Moscow (University of Idaho)[2]\n'],
 ['Idaho[edit]\n', 'Pocatello (Idaho State University)[2]\n'],
 ['Idaho[edit]\n', 'Rexburg (BYU-Idaho)[2]\n'],
 ['Illinois[edit]\n',
  'Carbondale (Southern Illinois University Carbondale)[5]\n'],
 ['Illinois[edit]\n',
  'Champaignâ€“Urbana (University of Illinois at Urbanaâ€“Champaign)[5]\n'],
 ['Illinois[edit]\n', 'Charleston (Eastern Illinois University)[2]\n'],
 ['Illinois[edit]\n', 'DeKalb (Northern Illinois University)[2]\n'],
 ['Illinois[edit]\n',
  'Edwardsville (Southern Illinois University Edwardsville)[2]\n'],
 ['Illinois[edit]\n', 'Evanston (Northwestern University)[2]\n'],
 ['Illinois[edit]\n', 'Lebanon (McKendree University)[2]\n'],
 ['Illinois[edit]\n', 'Macomb (Western Illinois University)[2]\n'],
 ['Illinois[edit]\n', 'Normal (Illinois State University)[2]\n'],
 ['Illinois[edit]\n', 'Peoria (Bradley University)\n'],
 ['Indiana[edit]\n', 'Bloomington (Indiana University Bloomington)[5]\n'],
 ['Indiana[edit]\n', 'Crawfordsville (Wabash College)\n'],
 ['Indiana[edit]\n', 'Greencastle (DePauw University)[5]\n'],
 ['Indiana[edit]\n', 'Hanover (Hanover College)[2]\n'],
 ['Indiana[edit]\n', 'Marion (Indiana Wesleyan University)[2]\n'],
 ['Indiana[edit]\n', 'Muncie (Ball State University)[2]\n'],
 ['Indiana[edit]\n', 'Oakland City (Oakland City University)[2]\n'],
 ['Indiana[edit]\n', 'Richmond (Earlham College)[2]\n'],
 ['Indiana[edit]\n', 'South Bend (Notre Dame University[2])\n'],
 ['Indiana[edit]\n',
  'Terre Haute (Indiana State University, Rose-Hulman Institute of Technology)[2]\n'],
 ['Indiana[edit]\n', 'Upland (Taylor University)[2]\n'],
 ['Indiana[edit]\n', 'Valparaiso (Valparaiso University)\n'],
 ['Indiana[edit]\n', 'West Lafayette (Purdue University)[2]\n'],
 ['Iowa[edit]\n', 'Ames (Iowa State University)[2]\n'],
 ['Iowa[edit]\n', 'Cedar Falls (University of Northern Iowa)[2]\n'],
 ['Iowa[edit]\n', 'Cedar Rapids, Iowa (Coe College )\n'],
 ['Iowa[edit]\n', 'Decorah (Luther College)[5]\n'],
 ['Iowa[edit]\n', 'Fayette (Upper Iowa University)[2]\n'],
 ['Iowa[edit]\n', 'Grinnell (Grinnell College)[15]\n'],
 ['Iowa[edit]\n', 'Iowa City (University of Iowa)[15]\n'],
 ['Iowa[edit]\n', 'Lamoni (Graceland University)[2]\n'],
 ['Iowa[edit]\n', 'Mount Vernon, (Cornell College)\n'],
 ['Iowa[edit]\n', 'Orange City (Northwestern College)[2]\n'],
 ['Iowa[edit]\n', 'Sioux Center (Dordt College)[2]\n'],
 ['Iowa[edit]\n', 'Storm Lake (Buena Vista University)[2]\n'],
 ['Iowa[edit]\n', 'Waverly (Wartburg College)[2]\n'],
 ['Kansas[edit]\n', 'Baldwin City (Baker University)[5]\n'],
 ['Kansas[edit]\n', 'Emporia (Emporia State University)[2]\n'],
 ['Kansas[edit]\n', 'Hays (Fort Hays State University)[2]\n'],
 ['Kansas[edit]\n',
  'Lawrence (University of Kansas, Haskell Indian Nations University)[15]\n'],
 ['Kansas[edit]\n',
  'Manhattan (Kansas State University, Manhattan Christian College)[15]\n'],
 ['Kansas[edit]\n', 'Pittsburg (Pittsburg State University)[2]\n'],
 ['Kentucky[edit]\n', 'Bowling Green (Western Kentucky University)[2]\n'],
 ['Kentucky[edit]\n', 'Columbia (Lindsey Wilson College)[2]\n'],
 ['Kentucky[edit]\n', 'Georgetown (Georgetown College)\n'],
 ['Kentucky[edit]\n', 'Highland Heights (Northern Kentucky University)\n'],
 ['Kentucky[edit]\n',
  'Lexington (University of Kentucky, Transylvania University[5]\n'],
 ['Kentucky[edit]\n', 'Louisville (University of Louisville)\n'],
 ['Kentucky[edit]\n', 'Morehead (Morehead State University)[2]\n'],
 ['Kentucky[edit]\n', 'Murray (Murray State University)[5]\n'],
 ['Kentucky[edit]\n', 'Richmond (Eastern Kentucky University)[2]\n'],
 ['Kentucky[edit]\n', 'Williamsburg (University of the Cumberlands)[2]\n'],
 ['Kentucky[edit]\n',
  'Wilmore (Asbury University, Asbury Theological Seminary)[2]\n'],
 ['Louisiana[edit]\n',
  'Baton Rouge (Louisiana State University, Southern University)\n'],
 ['Louisiana[edit]\n', 'Grambling (Grambling State University)[5]\n'],
 ['Louisiana[edit]\n', 'Hammond (Southeastern Louisiana University)[2]\n'],
 ['Louisiana[edit]\n', 'Lafayette (University of Louisiana at Lafayette)\n'],
 ['Louisiana[edit]\n', 'Monroe (University of Louisiana at Monroe)[2]\n'],
 ['Louisiana[edit]\n', 'Natchitoches (Northwestern State University)[2]\n'],
 ['Louisiana[edit]\n', 'Ruston (Louisiana Tech University)[2]\n'],
 ['Louisiana[edit]\n', 'Thibodaux (Nicholls State University)[2]\n'],
 ['Maine[edit]\n', 'Augusta (University of Maine at Augusta)[2]\n'],
 ['Maine[edit]\n', 'Bar Harbor (College of the Atlantic)\n'],
 ['Maine[edit]\n', 'Brunswick (Bowdoin College)\n'],
 ['Maine[edit]\n', 'Farmington (University of Maine at Farmington)[2]\n'],
 ['Maine[edit]\n', 'Fort Kent (University of Maine at Fort Kent)\n'],
 ['Maine[edit]\n', 'Gorham (University of Southern Maine)[2]\n'],
 ['Maine[edit]\n', 'Lewiston, Maine (Bates College)\n'],
 ['Maine[edit]\n', 'Orono (University of Maine)[2]\n'],
 ['Maine[edit]\n', 'Waterville (Thomas College, Colby College)\n'],
 ['Maryland[edit]\n',
  "Annapolis (United States Naval Academy, St. John's College)\n"],
 ['Maryland[edit]\n', 'Chestertown (Washington College)[2]\n'],
 ['Maryland[edit]\n',
  'College Park (University of Maryland, College Park)[16]\n'],
 ['Maryland[edit]\n', 'Cumberland (Allegany College of Maryland)\n'],
 ['Maryland[edit]\n', "Emmitsburg (Mount St. Mary's University)[2]\n"],
 ['Maryland[edit]\n', 'Frostburg (Frostburg State University)[5]\n'],
 ['Maryland[edit]\n',
  'Princess Anne (University of Maryland Eastern Shore)[5]\n'],
 ['Maryland[edit]\n', 'Towson (Towson University, Goucher College)[2]\n'],
 ['Maryland[edit]\n', 'Salisbury (Salisbury University)[2]\n'],
 ['Maryland[edit]\n', 'Westminster (McDaniel College)\n'],
 ['Massachusetts[edit]\n',
  'Boston (Boston University, Boston College, Boston Conservatory, New England Conservatory, Brandeis University, Northeastern University, UMass Boston, Emmanuel College, Bunker Hill Community College, Roxbury Community College, Suffolk University, Simmons College, among many others)\n'],
 ['Massachusetts[edit]\n', 'Bridgewater (Bridgewater State College)[2]\n'],
 ['Massachusetts[edit]\n',
  'Cambridge (Harvard University, Massachusetts Institute of Technology)(Lesley University, Cambridge College, Longy School of Music)[15]\n'],
 ['Massachusetts[edit]\n', 'Chestnut Hill (Boston College)\n'],
 ['Massachusetts[edit]\n', 'The Colleges of Worcester Consortium:\n'],
 ['Massachusetts[edit]\n', 'Dudley (Nichols College)\n'],
 ['Massachusetts[edit]\n',
  'North Grafton (Cummings School of Veterinary Medicine at Tufts University)\n'],
 ['Massachusetts[edit]\n', 'Paxton (Anna Maria College)\n'],
 ['Massachusetts[edit]\n',
  'Worcester (Assumption, Becker, Clark University, Holy Cross, Mass. College of Pharmacy & Health Sciences, Quinsigamond Community College, UMass Medical School, Worcester State University, Worcester Polytechnic Institute)\n'],
 ['Massachusetts[edit]\n',
  'The Five College Region of Western Massachusetts:\n'],
 ['Massachusetts[edit]\n',
  'Amherst (Amherst College, Hampshire College, University of Massachusetts Amherst)[15]\n'],
 ['Massachusetts[edit]\n', 'Northampton (Smith College)\n'],
 ['Massachusetts[edit]\n', 'South Hadley (Mount Holyoke College)\n'],
 ['Massachusetts[edit]\n', 'Fitchburg (Fitchburg State College)\n'],
 ['Massachusetts[edit]\n',
  'North Adams (Massachusetts College of Liberal Arts)\n'],
 ['Massachusetts[edit]\n',
  'Springfield (American International College), (Springfield College), and (Western New England College)\n'],
 ['Massachusetts[edit]\n',
  'Waltham (Bentley University), (Brandeis University)\n'],
 ['Massachusetts[edit]\n', 'Williamstown (Williams College)\n'],
 ['Massachusetts[edit]\n', 'Framingham (Framingham State University)\n'],
 ['Michigan[edit]\n', 'Adrian (Adrian College, Siena Heights University)\n'],
 ['Michigan[edit]\n', 'Albion (Albion College)[17]\n'],
 ['Michigan[edit]\n', 'Allendale (Grand Valley State University)\n'],
 ['Michigan[edit]\n', 'Alma (Alma College)\n'],
 ['Michigan[edit]\n', 'Ann Arbor (University of Michigan)[1]\n'],
 ['Michigan[edit]\n', 'Berrien Springs (Andrews University)[2]\n'],
 ['Michigan[edit]\n', 'Big Rapids (Ferris State University)[2]\n'],
 ['Michigan[edit]\n', 'East Lansing (Michigan State University)[2]\n'],
 ['Michigan[edit]\n',
  'Flint (Kettering University, University of Michigan-Flint)\n'],
 ['Michigan[edit]\n', 'Hillsdale (Hillsdale College)\n'],
 ['Michigan[edit]\n', 'Houghton (Michigan Technological University)[5]\n'],
 ['Michigan[edit]\n',
  'Kalamazoo (Western Michigan University, Kalamazoo College)[2]\n'],
 ['Michigan[edit]\n', 'Marquette (Northern Michigan University)[2]\n'],
 ['Michigan[edit]\n', 'Midland (Northwood University)\n'],
 ['Michigan[edit]\n', 'Mount Pleasant (Central Michigan University)[2]\n'],
 ['Michigan[edit]\n', 'Olivet (Olivet College)[2]\n'],
 ['Michigan[edit]\n', 'Saginaw (Saginaw Valley State University)\n'],
 ['Michigan[edit]\n', 'Sault Ste. Marie (Lake Superior State University)\n'],
 ['Michigan[edit]\n', 'Spring Arbor (Spring Arbor University)[2]\n'],
 ['Michigan[edit]\n', 'Ypsilanti (Eastern Michigan University)[2]\n'],
 ['Minnesota[edit]\n', 'Bemidji (Bemidji State University)[2]\n'],
 ['Minnesota[edit]\n', 'Crookston (University of Minnesota Crookston)[2]\n'],
 ['Minnesota[edit]\n',
  'Duluth (University of Minnesota Duluth, Lake Superior College, The College of St. Scholastica, University of Wisconsinâ€“Superior, Duluth Business University\n'],
 ['Minnesota[edit]\n', 'Faribault, South Central College\n'],
 ['Minnesota[edit]\n',
  'Mankato (Minnesota State University, Mankato),[2] Bethany Lutheran College\n'],
 ['Minnesota[edit]\n', 'Marshall (Southwest Minnesota State University)[2]\n'],
 ['Minnesota[edit]\n',
  'Moorhead (Minnesota State University, Moorhead, Concordia College)[18]\n'],
 ['Minnesota[edit]\n', 'Morris (University of Minnesota Morris)[2]\n'],
 ['Minnesota[edit]\n', 'Northfield (Carleton College, St. Olaf College)[5]\n'],
 ['Minnesota[edit]\n', 'North Mankato, South Central College\n'],
 ['Minnesota[edit]\n',
  'St. Cloud (St. Cloud State University, The College of St. Scholastica)[2]\n'],
 ['Minnesota[edit]\n', 'St. Joseph (College of Saint Benedict)[2]\n'],
 ['Minnesota[edit]\n', 'St. Peter (Gustavus Adolphus College)[2]\n'],
 ['Minnesota[edit]\n',
  "Winona (Winona State University, St. Mary's University of Minnesota)[19]\n"],
 ['Mississippi[edit]\n', 'Cleveland (Delta State University)[2]\n'],
 ['Mississippi[edit]\n',
  'Hattiesburg (University of Southern Mississippi)[20]\n'],
 ['Mississippi[edit]\n',
  'Itta Bena (Mississippi Valley State University)[2]\n'],
 ['Mississippi[edit]\n', 'Oxford (University of Mississippi)[2]\n'],
 ['Mississippi[edit]\n', 'Starkville (Mississippi State University)[2]\n'],
 ['Missouri[edit]\n', 'Bolivar (Southwest Baptist University)[2]\n'],
 ['Missouri[edit]\n',
  'Cape Girardeau (Southeast Missouri State University)[2]\n'],
 ['Missouri[edit]\n',
  'Columbia (University of Missouri, Stephens College, Columbia College)[20]\n'],
 ['Missouri[edit]\n', 'Fayette (Central Methodist University)[2]\n'],
 ['Missouri[edit]\n',
  'Fulton (Westminster College and William Woods University).\n'],
 ['Missouri[edit]\n',
  'Kirksville (Truman State University, A. T. Still University)[2]\n'],
 ['Missouri[edit]\n', 'Maryville (Northwest Missouri State University)[2]\n'],
 ['Missouri[edit]\n',
  'Rolla (Missouri University of Science and Technology)[2]\n'],
 ['Missouri[edit]\n', 'Warrensburg (University of Central Missouri)[5]\n'],
 ['Montana[edit]\n', 'Bozeman (Montana State University)[2]\n'],
 ['Montana[edit]\n', 'Dillon (University of Montana Western)[2]\n'],
 ['Montana[edit]\n', 'Missoula (University of Montana)[5]\n'],
 ['Nebraska[edit]\n', 'Chadron (Chadron State College)[5]\n'],
 ['Nebraska[edit]\n', 'Crete (Doane College)[2]\n'],
 ['Nebraska[edit]\n', 'Kearney (University of Nebraska at Kearney)[2]\n'],
 ['Nebraska[edit]\n', 'Lincoln (University of Nebraska at Lincoln)[5]\n'],
 ['Nebraska[edit]\n', 'Peru (Peru State College)[2]\n'],
 ['Nebraska[edit]\n', 'Seward (Concordia University)[2]\n'],
 ['Nebraska[edit]\n', 'Wayne (Wayne State College)[2]\n'],
 ['Nevada[edit]\n', 'Las Vegas (University of Nevada, Las Vegas)\n'],
 ['Nevada[edit]\n', 'Reno (University of Nevada, Reno)\n'],
 ['New Hampshire[edit]\n',
  'New London, New Hampshire (Colby-Sawyer College)\n'],
 ['New Hampshire[edit]\n', 'Durham (University of New Hampshire)[2]\n'],
 ['New Hampshire[edit]\n', 'Hanover (Dartmouth College)[5]\n'],
 ['New Hampshire[edit]\n', 'Henniker (New England College)\n'],

In [43]:
towns_df = pd.DataFrame(university_towns, columns = ['State', 'RegionName'])
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n

In [44]:
def clean_up(item):
    if '(' in item:
        return item[:item.find('(') - 1]
    
    if '[' in item:
        return item[:item.find('[')]
    

towns_df =  towns_df.applymap(clean_up)
towns_df.head()

C:\Users\pclab\AppData\Local\Temp\ipykernel_4708\4182926194.py:9: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  towns_df =  towns_df.applymap(clean_up)

     State    RegionName
0  Alabama        Auburn
1  Alabama      Florence
2  Alabama  Jacksonville
3  Alabama    Livingston
4  Alabama    Montevallo

## Renaming columns and skipping rows

In [ ]:
olympics_df = pd.read_csv('Datasets\olympics.csv')
olympics_df.head()

In [ ]:
olympics_df = pd.read_csv('Datasets\olympics.csv', skiprows = 1, header = 0)
olympics_df.head()

In [ ]:
new_names =  {'Unnamed: 0': 'Country',
              '? Summer': 'Summer Olympics',
              '01 !': 'Gold',
              '02 !': 'Silver',
              '03 !': 'Bronze',
              '? Winter': 'Winter Olympics',
              '01 !.1': 'Gold.1',
              '02 !.1': 'Silver.1',
              '03 !.1': 'Bronze.1',
              '? Games': '# Games', 
              '01 !.2': 'Gold.2',
              '02 !.2': 'Silver.2',
              '03 !.2': 'Bronze.2'}

olympics_df.rename(columns = new_names, inplace = True)

In [ ]:
olympics_df.head()